.conteudo-principal form {
    margin-bottom: 1.6rem;
}

.conteudo-principal form:last-child {
    margin: 0;
}

.rotulo {
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.rotulo span {
    color: var(--cor-2);
}

.campo {
    display: inline-block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    width: 100%;
    padding: 1.5rem 1.3rem;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-bottom: 1.6rem;
}

.campo:focus {
    border-color: var(--cor-4);
    outline: none;
    box-shadow: 0 0 10px var(--cor-4);
}

.botao-envia-formulario {
    font-family: inherit;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--cor-4);
    padding: 1.5rem 1.7rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.botao-envia-formulario:hover {
    background-color: var(--cor-5);
}