/* Variáveis */
:root {
    --cor-1: #e1e3cc;
    --cor-2: #c84755;
    --cor-3: #a83844;
    --cor-4: #e08e4c;
    --cor-5: #b36f3a;
    --cor-6: #62a48d;
    --cor-7: #4a7f6e;
    --cor-8: #495672;
}

/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: var(--cor-1);
    min-height: 100dvh;
}

/* Cabeçalho */
.cabecalho {
    text-align: center;
}

.area-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 3.2rem 1.6rem;
}

.area-logo img {
    max-width: 100%;
    height: auto;
}

.area-logo h1 {
    font-size: 3.2rem;
}

.area-menu-navegacao {
    color: #fff;
    background-color: var(--cor-2);
}

.area-menu-navegacao button {
    font-family: inherit;
    font-size: 1.6rem;
    color: inherit;
    background-color: transparent;
    padding: 1.6rem 1.8rem;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.area-menu-navegacao button:hover {
    background-color: var(--cor-3);
}

.bi {
    pointer-events: none;
}

#menuNavegacao {
    overflow: hidden;
    background-color: var(--cor-3);
    height: 0;
    transition: 0.5s ease-in-out;
}

#menuNavegacao ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.item-lista-menu-navegacao a {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: normal;
    color: inherit;
    width: 100%;
    padding: 1.6rem 1.8rem;
}

/* Conteúdo principal */
.conteudo-principal {
    flex: 1;
    align-self: center;
    width: 140rem;
    max-width: 90%;
    padding: 3.2rem 0;
}

/* Ferramentas de acessibilidade */
.area-ferramentas-acessibilidade {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.area-ferramentas-acessibilidade button {
    font-family: inherit;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--cor-6);
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.area-ferramentas-acessibilidade button:hover {
    background-color: var(--cor-7);
}

#listaBotoesAcessibilidade {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    list-style-type: none;
    overflow: hidden;
    height: 0;
    transition: 0.5s ease-in-out;
}

/* Rodapé */
.rodape {
    text-align: center;
    color: #fff;
    background-color: var(--cor-8);
    padding: 1.6rem;
}

.rodape p {
    font-size: 1.6rem;
}

/* Desktops (>= 1200px) */
@media (min-width: 1200px) {
    .area-menu-navegacao button {
        display: none;
    }

    #menuNavegacao {
        overflow: visible;
        background-color: transparent;
        height: auto;
        transition: none;
    }

    #menuNavegacao ul {
        flex-direction: row;
        justify-content: center;
    }

    .item-lista-menu-navegacao a {
        transition: 0.5s ease-in-out;
    }

    .item-lista-menu-navegacao a:hover {
        background-color: var(--cor-3);
    }
}