* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #1a1a1a;
    background-color: #e1e3cc;
    min-height: 100dvh;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3.2rem;
}

button {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i {
    display: inline-block;
    pointer-events: none;
}

a {
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    color: inherit;
}

h2 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1.6rem;
}

span {
    display: inline-block;
}

.botao {
    text-align: center;
    color: #fff;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.botao-sucesso {
    background-color: #62a48d;
}

.botao-sucesso:hover {
    background-color: #4f8f79;
}

.cabecalho {
    text-align: center;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 3.2rem 1.6rem;
}

.container-barra-navegacao {
    color: #fff;
    background-color: #c84755;
}

.botao-alternar-barra-navegacao {
    font-size: 1.6rem;
    padding: 1.6rem 1.8rem;
    transition: 0.5s ease-in-out;
}

.botao-alternar-barra-navegacao:hover {
    background-color: #a63a46;
}

.barra-navegacao {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #a63a46;
    height: 0;
    transition: 0.5s ease-in-out;
}

.link-barra-navegacao {
    font-size: 1.6rem;
    padding: 1.6rem 1.8rem;
}

.conteudo-principal {
    flex: 1;
    align-self: center;
    width: 140rem;
    max-width: 90%;
    padding: 3.2rem 0;
}

.ferramentas-acessibilidade {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.botao-acessibilidade {
    font-size: 1.5rem;
    padding: 1.5rem;
}

.container-botoes-acessibilidade {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    overflow: hidden;
    height: 0;
    transition: 0.5s ease-in-out;
}

.rodape {
    text-align: center;
    color: #fff;
    background-color: #495672;
    padding: 1.6rem;
}

.creditos {
    font-size: 1.6rem;
}

@media (min-width: 1200px) {
    .botao-alternar-barra-navegacao {
        display: none;
    }

    .barra-navegacao {
        flex-direction: row;
        justify-content: center;
        overflow: visible;
        background-color: transparent;
        height: auto;
        transition: none;
    }

    .link-barra-navegacao {
        transition: 0.5s ease-in-out;
    }

    .link-barra-navegacao:hover {
        background-color: #a63a46;
    }
}