.container-botoes-chamada-acao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.botao-chamada-acao {
    font-size: 1.6rem;
    text-decoration: none;
    line-height: normal;
    color: #fff;
    background-color: #e08e4c;
    padding: 1.6rem 1.8rem;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.botao-chamada-acao:hover {
    background-color: #c9783f;
}